In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('fakedata.csv', header = None)
data

                                           0
0                                  5/22/2024
1          2000, coffee beans, grocery store
2          3000, balloons, convenience store
3                     5000, sandwiches, cafe
4         10000, invisible cloak, magic shop
5        1500, unicorn tears, fantasy bazaar
6             2500, hoverboard, gadget store
7                                  5/23/2024
8                          1000, drinks, bar
9                    2000, pizza, restaurant
10            5000, dragon eggs, exotic pets
11      3000, time machine manual, bookstore
12             4000, enchanted sword, armory
13                                 5/24/2024
14             1500, snacks, vending machine
15              3500, groceries, supermarket
16        2500, shrinking potion, apothecary
17             5000, magic wand, wizard shop
18   7000, flying broomstick, broom emporium
19                                 5/25/2024
20         2000, elf shoes, fantasy footwear
21           1500, wizard hat, costume store
22  3000, teleportation stone, mystic market
23            1000, love potion, potion shop
24        2000, anti-gravity boots, tech hub
25                                 5/26/2024
26           3000, robot butler, gadget shop
27   2500, holographic projector, tech store
28        4000, unicorn horn, mythical goods
29     2000, talking mirror, enchanted items
30   5000, mermaid scales, oceanic treasures
31                                 5/27/2024
32        3500, phoenix feathers, rare finds
33        2500, alien artifact, space trader
34     1500, shrinking device, invention lab
35            4000, portal gun, sci-fi depot
36     3000, enchanted apples, fairy orchard
37                                 5/28/2024
38   2000, dragon scale armor, knight supply
39      1000, invisibility serum, secret lab
40      5000, teleportation pad, future tech
41         3500, magic beans, beanstalk shop
42     4000, enchanted harp, musical wonders

In [3]:
data.rename(columns={0: 'item'}, inplace=True)
data.head()

                                 item
0                           5/22/2024
1   2000, coffee beans, grocery store
2   3000, balloons, convenience store
3              5000, sandwiches, cafe
4  10000, invisible cloak, magic shop

In [4]:
# check data

print(data.shape)
print(data.isna().sum())

(43, 1)
item    0
dtype: int64

In [5]:
# create date column 

def date_column(date_str):
    if date_str.replace('/', '').isdigit() == True:
        return date_str
    
data['Date'] = data['item'].apply(date_column)
data.head()

                                 item       Date
0                           5/22/2024  5/22/2024
1   2000, coffee beans, grocery store       None
2   3000, balloons, convenience store       None
3              5000, sandwiches, cafe       None
4  10000, invisible cloak, magic shop       None

In [6]:
# fill in the dates for the Nones. forward fill!
data['Date'] = data['Date'].ffill()
data.head()

                                 item       Date
0                           5/22/2024  5/22/2024
1   2000, coffee beans, grocery store  5/22/2024
2   3000, balloons, convenience store  5/22/2024
3              5000, sandwiches, cafe  5/22/2024
4  10000, invisible cloak, magic shop  5/22/2024

In [7]:
# how many rows have just the date and no items:

(data['item'] == data['Date']).sum()

7

In [8]:
# clear out the date-only rows
# boolean mask
data = data[data['item'] != data['Date']]
print(data.shape)
data.head()

(36, 2)

                                  item       Date
1    2000, coffee beans, grocery store  5/22/2024
2    3000, balloons, convenience store  5/22/2024
3               5000, sandwiches, cafe  5/22/2024
4   10000, invisible cloak, magic shop  5/22/2024
5  1500, unicorn tears, fantasy bazaar  5/22/2024

In [9]:
# convert the dates to datetime objects

from datetime import datetime

data['Date'] = pd.to_datetime(data['Date'])
data.head()

/tmp/ipykernel_11919/3555485371.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Date'] = pd.to_datetime(data['Date'])

                                  item       Date
1    2000, coffee beans, grocery store 2024-05-22
2    3000, balloons, convenience store 2024-05-22
3               5000, sandwiches, cafe 2024-05-22
4   10000, invisible cloak, magic shop 2024-05-22
5  1500, unicorn tears, fantasy bazaar 2024-05-22

### next: parse out amount, item, location

In [10]:
# split depending on how it's inputted. some have commas, some don't...

def split_item(item):
    if ',' in item:
        return item.split(',')
    else: 
        return item.split()

data['item'] = data['item'].apply(split_item)    
data.head()

/tmp/ipykernel_11919/3459794750.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['item'] = data['item'].apply(split_item)

                                      item       Date
1    [2000,  coffee beans,  grocery store] 2024-05-22
2    [3000,  balloons,  convenience store] 2024-05-22
3               [5000,  sandwiches,  cafe] 2024-05-22
4   [10000,  invisible cloak,  magic shop] 2024-05-22
5  [1500,  unicorn tears,  fantasy bazaar] 2024-05-22

In [11]:
def parse_items(row):
    price, item, location, details = None, None, None, None
    if len(row) > 0:
        price = row[0]
    if len(row) > 1:
        item = row[1]
    if len(row) > 2:
        location = row[2]
    if len(row) > 3:
        details = row[3]
    return pd.Series([price, item, location, details])

# Apply the function to the 'items' column and create new columns
data[['Price', 'Item', 'Location', 'Details']] = data['item'].apply(parse_items)
data

/tmp/ipykernel_11919/677501391.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['Price', 'Item', 'Location', 'Details']] = data['item'].apply(parse_items)
/tmp/ipykernel_11919/677501391.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['Price', 'Item', 'Location', 'Details']] = data['item'].apply(parse_items)
/tmp/ipykernel_11919/677501391.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['Price', 'Item', 'Location', 'Details']] = data['item'].apply(parse_items)
/tmp/ipykernel_11919/677501391.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['Price', 'Item', 'Location', 'Details']] = data['item'].apply(parse_items)

,item,Date,Price,Item,Location,Details
1,"[2000, coffee beans, grocery store]",2024-05-22,2000,coffee beans,grocery store,None
2,"[3000, balloons, convenience store]",2024-05-22,3000,balloons,convenience store,None
3,"[5000, sandwiches, cafe]",2024-05-22,5000,sandwiches,cafe,None
4,"[10000, invisible cloak, magic shop]",2024-05-22,10000,invisible cloak,magic shop,None
5,"[1500, unicorn tears, fantasy bazaar]",2024-05-22,1500,unicorn tears,fantasy bazaar,None
6,"[2500, hoverboard, gadget store]",2024-05-22,2500,hoverboard,gadget store,None
8,"[1000, drinks, bar]",2024-05-23,1000,drinks,bar,None
9,"[2000, pizza, restaurant]",2024-05-23,2000,pizza,restaurant,None
10,"[5000, dragon eggs, exotic pets]",2024-05-23,5000,dragon eggs,exotic pets,None
11,"[3000, time machine manual, bookstore]",2024-05-23,3000,time machine manual,bookstore,None
12,"[4000, enchanted sword, armory]",2024-05-23,4000,enchanted sword,armory,None
14,"[1500, snacks, vending machine]",2024-05-24,1500,snacks,vending machine,None
15,"[3500, groceries, supermarket]",2024-05-24,3500,groceries,supermarket,None
16,"[2500, shrinking potion, apothecary]",2024-05-24,2500,shrinking potion,apothecary,None
17,"[5000, magic wand, wizard shop]",2024-05-24,5000,magic wand,wizard shop,None
18,"[7000, flying broomstick, broom emporium]",2024-05-24,7000,flying broomstick,broom emporium,None
20,"[2000, elf shoes, fantasy footwear]",2024-05-25,2000,elf shoes,fantasy footwear,None
21,"[1500, wizard hat, costume store]",2024-05-25,1500,wizard hat,costume store,None
22,"[3000, teleportation stone, mystic market]",2024-05-25,3000,teleportation stone,mystic market,None
23,"[1000, love potion, potion shop]",2024-05-25,1000,love potion,potion shop,None
24,"[2000, anti-gravity boots, tech hub]",2024-05-25,2000,anti-gravity boots,tech hub,None
26,"[3000, robot butler, gadget shop]",2024-05-26,3000,robot butler,gadget shop,None
27,"[2500, holographic projector, tech store]",2024-05-26,2500,holographic projector,tech store,None
28,"[4000, unicorn horn, mythical goods]",2024-05-26,4000,unicorn horn,mythical goods,None
29,"[2000, talking mirror, enchanted items]",2024-05-26,2000,talking mirror,enchanted items,None
30,"[5000, mermaid scales, oceanic treasures]",2024-05-26,5000,mermaid scales,oceanic treasures,None
32,"[3500, phoenix feathers, rare finds]",2024-05-27,3500,phoenix feathers,rare finds,None
33,"[2500, alien artifact, space trader]",2024-05-27,2500,alien artifact,space trader,None
34,"[1500, shrinking device, invention lab]",2024-05-27,1500,shrinking device,invention lab,None
35,"[4000, portal gun, sci-fi depot]",2024-05-27,4000,portal gun,sci-fi depot,None
36,"[3000, enchanted apples, fairy orchard]",2024-05-27,3000,enchanted apples,fairy orchard,None
38,"[2000, dragon scale armor, knight supply]",2024-05-28,2000,dragon scale armor,knight supply,None
39,"[1000, invisibility serum, secret lab]",2024-05-28,1000,invisibility serum,secret lab,None
40,"[5000, teleportation pad, future tech]",2024-05-28,5000,teleportation pad,future tech,None
41,"[3500, magic beans, beanstalk shop]",2024-05-28,3500,magic beans,beanstalk shop,None
42,"[4000, enchanted harp, musical wonders]",2024-05-28,4000,enchanted harp,musical wonders,None

In [ ]:
# looks good! let's save

data.to_csv('fake spending data.csv')